
html,body{
    height: 100vh;
}

.contact-details {
 height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-features {
    background: #242526;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    &-item {
      padding: 2rem;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      &-left {
        flex: 1;
        color: #d11242;
        font-size: 2rem;
      }
      &-right {
        flex: 1;
        text-align: justify;
        background: #3d3d3d;
        background: #3d3d3d;
          border-radius: 10px;
          padding: 2rem;
          overflow: auto;


        span {
            word-wrap: break-word;
          
          color: #b3b3b3;
          font-size: 1.2rem;
        }

        &.message {
                padding: 1rem;
          text-align: justify;
          flex: 2;
          height: 20vh;
          background: #3d3d3d;
          overflow: auto;
          span{
              word-wrap: break-word;
              line-height: 2rem;

          }
        }
      }
    }
  }
}
