.meeting-form {
    height: 100vh;
    .header {
      img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }  
       
    }
  
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-header {
        margin: 4rem 0;
        span {
          font-size: 3rem;
          font-weight: bold;
          color: #fff;
        }
      }
      &-container {
        display: flex;
        margin-bottom: 4rem;
        width: 70%;
        justify-content: center;
      
        &-form {
          background: #242526;
          padding: 30px;
          border-radius: 30px;
          width: 100%;
          &-item {
            &-title {
              span {
                font-size: 1.3rem;
                font-weight: bold;
                color: #b0b3b8;
                font-weight: 400;
                strong{
                    background: #d11242;
                    margin: 0 5px;
                    border-radius: 4px;
                    padding: 0 5px;
                }
              }
            }
            &-input {
              margin: 1rem 0;
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              button{
                  background: #d11242;
                  color: #fff;
                  width: 20%;
                  border: none;
                  border-radius: 20px;
                  padding: 10px;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
  
              }
              input {
                background: rgba(255, 255, 255, 0.897);
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                font-size: 1rem;
                &[type="number"] {
                  width: 50%;
                  -webkit-appearance: none;
                }
  
                &[type="email"] {
                  width: 50%;
                }
                
                &::placeholder {
                  color: #393a3b;
                  font-size: 16px;
                }
              }
  
              textarea {
                background: rgba(255, 255, 255, 0.897);
                  font-size: 1rem;
                width: 100%;
                height: 100px;
                border-radius: 10px;
                resize: none;
                padding: 10px;
                &::placeholder {
                  color: #393a3b;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  