.meeting-room {
  height: 100vh;

  .header {
      top: 0;

    .slider {
      position: relative;
      &.active {
      }
      &-image {
        width: 100vw;
        object-fit: cover;
        height: 60vh;
      }
      .rigt-arrow {
        position: absolute;
        top: 50%;
        right: 2rem;
        font-size: 1rem;
        color: #fff;
        background-color: #d11242;
        padding: 20px;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
        user-select: none;
      }
      .left-arrow {
        position: absolute;
        top: 50%;
        left: 2rem;
        font-size: 1rem;
        color: #fff;
        background-color: #d11242;
        padding: 20px;
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header{
        color: #b0b3b8;
        margin: 2rem;
        padding-bottom: 3rem;
        text-align: center;
        width: 100%;
        font-size: 4rem;
        border-bottom: 2px solid #393a3b;
    }
    &-desc{
      color: #b0b3b8;
        text-align: justify;
        width: 80%;
        p{
          line-height:2rem;
          font-size: 20px;
          letter-spacing: .5px;
          font-weight: 300;
        }
    }

    &-features{

      width: 60%;


      &-item{
        margin: 3rem;
          display: flex;
          background: #242526;
          padding: 2rem;
          justify-content: space-around;
          border-radius: 20px;
          gap: 20px;
        &-title{
          color: #b0b3b8;
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          span{
            font-size: 1.5rem;
            font-weight: 400;
            color: #fff;
          }
          p{
            font-size: 18px;
            color: #b0b3b8;
            font-weight: 300;
            letter-spacing: 1.2px;
          }
          
        }
        &-photo{
          img{
            height: 15rem;
            border-radius: 5px;
          }
        }
      }
    }

  }
  
}
